nltk==3.4.4
numpy==1.22.0
beautifulsoup4==4.8.0
scikit-learn==0.20.4
spacy==2.1.6
gensim==3.8.0
wptools==0.4.17
scrapy==1.7.3
Flask==1.1.1
flask_restful==0.3.7
Werkzeug==0.15
scrapy_splash==0.7.2
selenium==3.141.0
flask-cors==3.0.8
simplejson==3.16.0
gunicorn==19.9.0